.fav-arts{
  margin-top: 50px;
  margin-left: 60px;
}

.all-arts{
  margin-top: 50px;
  margin-left: 80px;
}

.art-page{
  margin-top: 50px;
}

.art-info{
  margin-top: 50px;
}

.all-arts{
  column-count: 3;
  column-gap: 15px;  
}

.masonry-item {
  display: inline-block;
  width: 100%;
 }
 
 .masonry-item Card{
  display:block;
  width: 100%;
 }