.searchBar {
  position: relative;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
}

.searchBar input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
}

.locate {
  position: absolute;
  top: 13rem;
  right: 2rem;
  background: none;
  border: none;
  z-index: 10;
}

.maps-container {
  background-image: url("https://images.unsplash.com/photo-1541692033570-5b2e9c4e2aa9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80");
}

.maps-name {
  width: 48%;
  margin-left: 25%;
}
