/* .splitTop{
  margin-left: 5%;
  margin-right: 5%;
} */

/* .row{
  padding-top: 25px;
  width: 100%;
} */

.library{
  background-color: rgba(255, 255, 255, 0.596);
  height: 60px;
  border-radius: 10px;
  padding: 10px;
}


.standard {
  background-color: rgba(255, 255, 255, 0.596);
  border-radius: 15px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 3%;
  padding-bottom: 30px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} 