.App {
  text-align: center;
}

.circle{
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
  border:1px solid red;
  width:14px;
  height:14px;
  background: red;
}

.circleText{
  color: white;
}

